HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.mvn
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Thumbnails ###
._*

### logs
log/
*.log
*.log.*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

### .gitignore for java
*.class

### Package Files #
*.jar
*.war
*.nar
*.ear

### .gitignore for eclipse

*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

### .gitignore for linux
!.gitignore
!.gitattributes
!.editorconfig
!.eslintrc
!.travis.yml
*~

### .gitignore for windows

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

### .gitignore for mac os x

.DS_Store
.AppleDouble
.LSOverride
Icon

### JRebel file
rebel.xml

### nodejs
node_modules/
www/
package-lock.json